.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
	border: solid 0.5px black;
	color: white;
	border-radius: 0px 0px 10px 10px;
}
.keyboard .btn {
  padding: 20px;
  border: solid 0.5px black;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(80, 80, 80);
	cursor: pointer;
	font-size: 20px;
	height: 30px;
}
.keyboard .btn:hover {
	opacity: 0.8;
}
.keyboard .btn.wide {
  grid-column: span 2;
}
.keyboard .btn.orange {
	background-color: orange;
	font-size: 30px;
}
.keyboard .btn.dark {
	background-color: rgb(39, 39, 39);
}
.keyboard .lastsx {
	border-radius: 0px 0px 0px 10px;
}
.keyboard .lastdx {
	border-radius: 0px 0px 10px 0px;
}
